##############################################
# LINUXIGD  requirement for Korean KT operator
##############################################
#Interfaces should be on only in case of IGD on & reboot
on property:persist.vendor.lge.service.igd.start=1
    mkdir /data/vendor/igd 0700 root system
    start vendor.linuxigd
on property:persist.vendor.lge.service.igd.start=0
    stop vendor.linuxigd
service vendor.linuxigd /vendor/bin/linuxigd2 -f ${persist.vendor.lge.service.igd.extnet} ${persist.vendor.lge.service.igd.intnet}
       disabled
########################################
# Application Manager ENABLE_UNINSTALL
########################################
service vendor.enable_uninstall  /system/vendor/bin/enable_uninstall.sh
    disabled
    oneshot

on property:vold.post_fs_data_done=1
    start vendor.enable_uninstall

########################################
# resource parallel loading
########################################
service vendor.rmplb /vendor/bin/rmplb.sh
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start vendor.rmplb

########################################
# sim based property copy
########################################
service vendor.property_copy /system/vendor/bin/property_copy.sh
    class late_start
    disabled
    oneshot

on property:persist.vendor.lge.sim.operator=*
    start vendor.property_copy
